@import "/src/styles.scss";



.header-block {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  align-items: baseline;
}


.title {
  text-align: center;
  margin-bottom: 30px;
}
.header-elements {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}



.todo-activities-container{
  width:250px;
  height: 100px;
  border-radius: 20px;
  // border : 2px solid gray;
  padding: 10px;
  text-align: center;
  box-shadow: $card-shadow;
 cursor: pointer;
 margin: 20px;
}

.todo-activities-block{
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;

  .leave-all{
    background-color: $light-grey;
  }
  .leave-request{
    background-color: $light-grey;
  }
  .leave-cancellation{
    background-color: $light-grey;
  }
}