<div class="main-body">
  <div class="contents">
    <h1 class="title">Dashboard</h1>
    <!-- <h1 class="greetings">Welcome Administrator...</h1> -->

    <div class="widget-row leads-row">
      <div class="widget-col leads-status">
        <app-target-widget [role]="role" [user]="user"></app-target-widget>
      </div>
      <div class="widget-col activities-block">
        <app-activities-widget
          [role]="role"
          [user]="user"
        ></app-activities-widget>
      </div>
      <div class="widget-col leave-request-block">
        <app-leave-request-widget
          [role]="role"
          [user]="user"
        ></app-leave-request-widget>
      </div>
    </div>


    <div class="widget-row-multi">
      <div class="widget-col">
        <app-leads-widget [role]="role" [user]="user"></app-leads-widget>
      </div>
      <!-- <div class="widget-col widget-container">
                
            </div> -->
    </div>

    <div class="widget-row">
      <div class="widget-col"></div>
      <div class="widget-row"></div>
    </div>

    <div class="widget-row">
      <div class="widget-col"></div>
      <div class="widget-col"></div>
    </div>

    <div class="widget-row">
      <div class="widget-col"></div>
      <div class="widget-col"></div>
    </div>
  </div>
</div>
