
<h1 class="title">Dashboard</h1>
<h1 class="greetings">Welcome Administrator...</h1>

<div class="row1">
    <div class="col1 widget-container">
        <app-leads-widget [role]=role></app-leads-widget>

    </div>
    <div class="col2">

    </div>
</div>


<div class="row2 leads-row">
    <div class="col1 leads-status">

    </div>
    <div class="col2 leads-pipeline">

    </div>
</div>

<div class="row3">
    <div class="col1">

    </div>
    <div class="col2">

    </div>
</div>

<div class="row4">
    <div class="col1">

    </div>
    <div class="col2">

    </div>
</div>

<div class="row5">
    <div class="col1">

    </div>
    <div class="col2">

    </div>
</div>
