<div class="widgets-row">
  <div class="top-products widget-container sales-container">
    <h1 class="widget-title">Top 5 Selling Products</h1>
    <div class="chart-container">
      <canvas id="topProductsChart"></canvas>
    </div>
  </div>

  <div class="top-branches widget-container sales-container">
    <h1 class="widget-title">Top 5 Performing Branches</h1>
    <div class="chart-container">
      <canvas id="topBranchChart"></canvas>
    </div>
  </div>

  <div class="top-performers widget-container sales-container">
    <h1 class="widget-title">Top 5 Performers</h1>
    <div class="chart-container">
      <canvas id="topEmployeesChart"></canvas>
    </div>
  </div>
</div>
