@import "/src/styles.scss";

.header-block {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  align-items: baseline;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}
.header-elements {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
