<div class="component-body">
  <h1 class="title">Leave</h1>


  <div class="spinner-container" *ngIf="showSpinner">
    <img src="assets/images/loading1.gif" alt="">
  </div>



  <div class="header-elements">
    <form [formGroup]="leaveFilterForm" (ngSubmit)="onSubmit()">
      <div class="form-contents">
        <mat-form-field appearance="outline">
          <mat-label>Date Range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              formControlName="startDate"
              placeholder="Start date"
            />
            <input
              matEndDate
              formControlName="endDate"
              placeholder="End date"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </form>

    <button mat-raised-button color="primary" (click)="onSubmit()">
      Search
    </button>

    <button mat-raised-button color="primary" (click)="navAppyLeave()">
      Apply leave
    </button>
  </div>

  <div class="table-component">
    <mat-form-field class="search-field">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search anything" #input >
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
          <td mat-cell *matCellDef="let row"> {{row.startDate}} </td>
        </ng-container>
    
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
          <td mat-cell *matCellDef="let row"> {{row.endDate}} </td>
        </ng-container>
    
        <ng-container matColumnDef="reason">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Reason </th>
          <td mat-cell *matCellDef="let row"> {{row.reason}} </td>
        </ng-container>
    
        <ng-container matColumnDef="leaveCategory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
          <td mat-cell *matCellDef="let row"> {{row.leaveCategory}} </td>
        </ng-container>
  
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let row"> {{row.status}} </td>
        </ng-container>
  
        <ng-container matColumnDef="appliedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Applied Date </th>
          <td mat-cell *matCellDef="let row"> {{row.appliedDate}} </td>
        </ng-container>
  
       
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef  > Actions </th>
          <td mat-cell *matCellDef="let row">
            
            <div class="action-button-block">
             
              <button mat-icon-button color="warn" aria-label="edit" (click)="cancelLeave(row._id)" *ngIf="row.status=='Pending'||row.status=='Approved'">
                <mat-icon>close</mat-icon>
              </button>

              <p *ngIf="row.status!=='Pending'&&row.status!=='Approved'">No actions available</p>
              
             
            </div>
  
  
  
          </td>
        </ng-container>
  
  
  
  
  
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    
  
  </div>
</div>
