<div class="component-body">
  <h1 class="title">Leave</h1>

  <div class="header-elements">
    <form [formGroup]="leaveFilterForm" (ngSubmit)="onSubmit()">
      <div class="form-contents">
        <mat-form-field appearance="outline">
          <mat-label>Date Range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              formControlName="startDate"
              placeholder="Start date"
            />
            <input
              matEndDate
              formControlName="endDate"
              placeholder="End date"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </form>

    <button mat-raised-button color="primary" (click)="onSubmit()">
      Search
    </button>

    <button mat-raised-button color="primary" (click)="navAppyLeave()">
      Apply leave
    </button>
  </div>

  <div class="table-component">
    <app-table
      [tableData]="tableData"
      [displayedColumns]="displayedColumns"
    ></app-table>
  </div>
</div>
