
<div class="component-body">


<mat-accordion class="branch-accordion accordion-card" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Branch </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="mat-body">
      <div class="add-button-block">
        <button mat-button color="primary" aria-label="Add branch Buttom" (click)="addBranch()">
          <mat-icon>add</mat-icon> Add Branch
        </button>
      </div>

      <app-table
        [tableData]="tableData"
        [displayedColumns]="displayedColumns"
      ></app-table>
    </div>
  </mat-expansion-panel>
</mat-accordion>


</div>