@import "/src/styles.scss";

// .component-body{

//     margin:20px;
//     padding: 20px;
//     width: 80vw;
// }

.title{
    text-align: center;
    margin-bottom: 30px;
}

.green-tick{
    color: green;
}


