@import "/src/styles.scss";

.component-body{

    margin:20px;
    padding: 20px;
}

.title{
    text-align: center;
    margin-bottom: 30px;
}

.form-contents{
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 2px solid $primary-blue;
    margin: auto;
    padding: 30px;
    border-radius: 10px;

}

.action-button{

    margin-bottom: 10px;

}