<div class="widget-container-xmargin">

    <h1 class="widget-title">Activities</h1>

    <div [ngClass]="{ 'box-row': role!=='admin', 'box-col':role=='admin' }">
      
        <div class="casual-balance-box box-horizontal " (click)="navigateActivities()">
          <h1 class="bold-count">{{ missedActivitiesCount }}</h1>
          <h1>Missed Activities</h1>
        </div>
    
        <div class="sick-balance-box box-horizontal" (click)="navigateActivities()">
          <h1 class="bold-count">{{ todaysActivitiesCount }}</h1>
          <h1>Today's Activities</h1>
        </div>
        
        </div>


    </div>

