# Ignore typical Node.js files and directories
node_modules
npm-debug.log

# winston files
/logs/

# Ignore build and temporary files
build
tmp
.DS_Store

# Ignore development and editor-specific files
.vscode
.idea
*.suo
*.ntvs*
*.md
*.yml
*.ts
.gitignore

# Ignore test and documentation files
test
docs

#local files

.git
.vscode
.idea
nodemon.json
apidata.txt
notes.txt
