<div class="update-profile">
    <h1 class="heading">Update User</h1>
    <mat-card class="updateCard">
      <form
        [formGroup]="updateEmployeeGroup"
        (ngSubmit)="updateUser(updateEmployeeGroup)"
    
      >
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput required formControlName="username" />
          <mat-error *ngIf="updateEmployeeGroup.get('username')?.errors?.['required']"
            >Name is required</mat-error
          >
          <mat-error *ngIf="updateEmployeeGroup.get('username')?.errors?.['pattern']"
            >Name must contains only alphabets</mat-error
          >
        </mat-form-field>
  
       
  
        <mat-form-field appearance="outline">
          <mat-label>Mobile number</mat-label>
          <input matInput formControlName="mobile" />
          <mat-error *ngIf="updateEmployeeGroup.get('mobile')?.errors?.['required']"
            >Mobile number is required</mat-error
          >
          <mat-error *ngIf="updateEmployeeGroup.get('mobile')?.errors?.['pattern']"
            >Enter a valid mobile number</mat-error
          >
        </mat-form-field>
  
  
  
  
  
  
        <div class="button-row">
          <button
            class="saveButton"
            mat-raised-button
            color="primary"
            type="submit"
          >
            Save
          </button>
          <button
            class="cancelButton"
            mat-raised-button
            color="warn"
            (click)="closeDialog($event)"
          >
            Cancel
          </button>
        </div>
      </form>
  
      <!-- </mat-card-content> -->
    </mat-card>
  </div>
  