.component-body{

    width:80vw;
    min-height:700px;
    padding: 20px;
    margin: 20px;
}

.heading{
    text-align: center;
    margin-top:20px;
}

.list-item{
    display: flex;
}

.edit-button{
    margin:20px;
    text-align: center;
}

.button-block{
    display: flex;
    justify-content: center;
}